body {
  background: transparent;
  overflow: hidden !important;
}
.card .card-body {
  padding: 10px 10px 0px 10px;
  position: relative;
}
.card {
  margin-bottom: 0px;
  margin-top: 35px;
}
.card-body .tab-content {
  height: 165px;
  overflow-y: auto;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 2px 2px;
  font-size: 13px;
}

.card
  [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  margin-top: -30px;
  padding: 5px;
}

.card-body > .card {
  margin-bottom: 0px;
}
.nav-tabs .nav-item .nav-link {
  padding: 5px 10px;
}

.card-body.sub {
  padding: 0px 0;
  margin-top: 5px;
}

.card .card-title {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 13px;
}
.card-category {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 11px;
}
.card-footer {
  border-top: 1px solid #eee;
}
thead {
  display: none;
}
.table.table-hover tbody tr:hover,
.selected_item {
  text-shadow: 0 0 0.05px #579413;
}

.card [class*="card-header-"] {
  margin: 0px 10px 0 10px;
  position: relative;
}
#monitor-screen {
  overflow: auto;
  height: 165px;
  width: 100%;
}

.app-logo{
    position: absolute;
    transform: translate(21%, 73%);
}
.slick-prev {
  z-index: 3;
  left: -5px;
}
.slick-next {
  z-index: 3;
  right: -5px;
}
/* table {table-layout:fixed} */
td {white-space:nowrap}